truedata-nodered/data/flows.json
[
    {
        "id": "tab_opc_v2",
        "type": "tab",
        "label": "OPC Ingest v2 (periodic emit)",
        "disabled": false,
        "info": "HTTP ingest -> TB gateway event-driven. AI emit periodic (LOCF, T=40s default)."
    },
    {
        "id": "broker_tb",
        "type": "mqtt-broker",
        "name": "TB Gateway",
        "broker": "thingsboard",
        "port": "1883",
        "clientid": "nodered-gateway-fase22",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "http_in_opc",
        "type": "http in",
        "z": "tab_opc_v2",
        "name": "POST /api/opc-ingest",
        "url": "/api/opc-ingest",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 120,
        "wires": [
            [
                "fn_main"
            ]
        ]
    },
    {
        "id": "fn_main",
        "type": "function",
        "z": "tab_opc_v2",
        "name": "validate+locf+tb_fanout",
        "func": "// Validate payload (structure, ts, values)\nif (!msg.payload || typeof msg.payload !== 'object' || Array.isArray(msg.payload) || Object.keys(msg.payload).length === 0) {\n    msg.statusCode = 400;\n    msg.payload = { status: 'error', reason: 'body not valid JSON object' };\n    return [null, msg];\n}\n\nconst ts = msg.payload.ts;\nconst values = msg.payload.values;\nif (typeof ts !== 'number' || !Number.isFinite(ts)) {\n    msg.statusCode = 400;\n    msg.payload = { status: 'error', reason: 'ts missing or not finite number' };\n    return [null, msg];\n}\n\nconst now = Date.now();\nif (ts < now - 30*24*3600*1000 || ts > now + 5*60*1000) {\n    msg.statusCode = 400;\n    msg.payload = { status: 'error', reason: 'ts outside acceptable window (now-30d .. now+5min)' };\n    return [null, msg];\n}\n\nif (typeof values !== 'object' || values === null || Array.isArray(values) || Object.keys(values).length === 0) {\n    msg.statusCode = 400;\n    msg.payload = { status: 'error', reason: 'values must be non-empty object' };\n    return [null, msg];\n}\n\nconst validValues = {};\nfor (const [tag, value] of Object.entries(values)) {\n    if (value === null || value === undefined) continue;\n    validValues[tag] = value;\n}\n\nconst fs = global.get('fs');\nconst runtimeConfigPath = env.get('NR_RUNTIME_CONFIG_PATH') || '/data/runtime_config.json';\n\nfunction loadRuntimeConfig() {\n    const cached = flow.get('runtimeConfigCache') || { raw: null, config: {} };\n    if (!fs) return { config: cached.config || {}, changed: false };\n    try {\n        const raw = fs.readFileSync(runtimeConfigPath, 'utf8');\n        if (raw !== cached.raw) {\n            let parsed;\n            try {\n                parsed = JSON.parse(raw);\n            } catch (err) {\n                node.warn('runtime_config parse error: ' + err.message);\n                return { config: cached.config || {}, changed: false };\n            }\n            const cfg = {};\n            if (Array.isArray(parsed.expected_tags)) {\n                cfg.expected_tags = parsed.expected_tags.filter(t => typeof t === 'string');\n            }\n            if (typeof parsed.ai_inference_url === 'string' && parsed.ai_inference_url.trim().length > 0) {\n                cfg.ai_inference_url = parsed.ai_inference_url.trim();\n            }\n            if (typeof parsed.inference_emit_interval_ms === 'number' && Number.isFinite(parsed.inference_emit_interval_ms) && parsed.inference_emit_interval_ms > 0) {\n                cfg.inference_emit_interval_ms = parsed.inference_emit_interval_ms;\n            }\n            flow.set('runtimeConfigCache', { raw: raw, config: cfg });\n            return { config: cfg, changed: true };\n        }\n        return { config: cached.config || {}, changed: false };\n    } catch (_err) {\n        if (cached.raw !== null) {\n            flow.set('runtimeConfigCache', { raw: null, config: {} });\n            return { config: {}, changed: true };\n        }\n        return { config: {}, changed: false };\n    }\n}\n\nconst runtimeLoad = loadRuntimeConfig();\nconst expectedTags = runtimeLoad.config.expected_tags;\n\n// Reset lastSeen only if expected_tags set actually changed (adding other\n// runtime-config keys like inference_emit_interval_ms must NOT force warmup).\nlet lastSeen = flow.get('lastSeen') || {};\nif (runtimeLoad.changed) {\n    const prevTags = (flow.get('prevExpectedTags') || []).slice().sort().join(',');\n    const newTags  = (expectedTags || []).slice().sort().join(',');\n    if (prevTags !== newTags) {\n        lastSeen = {};\n        flow.set('prevExpectedTags', expectedTags || []);\n    }\n}\n\n// Update LOCF state\nfor (const [tag, value] of Object.entries(validValues)) {\n    const prev = lastSeen[tag];\n    if (!prev || ts >= prev.ts) {\n        lastSeen[tag] = { value: value, ts: ts };\n    }\n}\nflow.set('lastSeen', lastSeen);\n\n// Fan-out to TB gateway (event-driven)\nconst DEVICE_PROFILE = flow.get('DEVICE_PROFILE') || 'sensor_planta';\nconst seen = flow.get('connectedDevices') || {};\nconst gatewayMsgs = [];\nfor (const tagName of Object.keys(validValues)) {\n    if (!seen[tagName]) {\n        gatewayMsgs.push({\n            payload: JSON.stringify({ device: tagName, type: DEVICE_PROFILE }),\n            topic: 'v1/gateway/connect',\n            qos: 1\n        });\n        seen[tagName] = true;\n    }\n}\nconst gatewayPayload = {};\nfor (const [tag, value] of Object.entries(validValues)) {\n    gatewayPayload[tag] = [{ ts: ts, values: { value: value } }];\n}\ngatewayMsgs.push({\n    payload: JSON.stringify(gatewayPayload),\n    topic: 'v1/gateway/telemetry',\n    qos: 1\n});\nflow.set('connectedDevices', seen);\n\nmsg.statusCode = 200;\nmsg.payload = { status: 'ok', tags: Object.keys(validValues).length };\nreturn [gatewayMsgs, msg];\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 120,
        "wires": [
            [
                "mqtt_out_tb"
            ],
            [
                "http_resp"
            ]
        ]
    },
    {
        "id": "mqtt_out_tb",
        "type": "mqtt out",
        "z": "tab_opc_v2",
        "name": "TB Gateway",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "broker_tb",
        "x": 700,
        "y": 80,
        "wires": []
    },
    {
        "id": "http_resp",
        "type": "http response",
        "z": "tab_opc_v2",
        "name": "Response",
        "statusCode": "",
        "headers": {},
        "x": 700,
        "y": 160,
        "wires": []
    },
    {
        "id": "inject_tick",
        "type": "inject",
        "z": "tab_opc_v2",
        "name": "1s tick",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 260,
        "wires": [
            [
                "fn_emit_periodic"
            ]
        ]
    },
    {
        "id": "fn_emit_periodic",
        "type": "function",
        "z": "tab_opc_v2",
        "name": "periodic_emit_locf",
        "func": "// Periodic emit to AI. Inject fires at 1s heartbeat; gate emits at most\n// once every inference_emit_interval_ms (default 40000).\n// LOCF only: if all expected_tags are in lastSeen \u2192 emit; else skip silently.\n// No TTL, no warmup timeout, no exposed counters.\n\nconst fs = global.get('fs');\nconst runtimeConfigPath = env.get('NR_RUNTIME_CONFIG_PATH') || '/data/runtime_config.json';\n\nfunction loadRuntimeConfig() {\n    const cached = flow.get('runtimeConfigCache') || { raw: null, config: {} };\n    if (!fs) return cached.config || {};\n    try {\n        const raw = fs.readFileSync(runtimeConfigPath, 'utf8');\n        if (raw === cached.raw) return cached.config || {};\n        let parsed;\n        try {\n            parsed = JSON.parse(raw);\n        } catch (err) {\n            node.warn('runtime_config parse error: ' + err.message);\n            return cached.config || {};\n        }\n        const cfg = {};\n        if (Array.isArray(parsed.expected_tags)) cfg.expected_tags = parsed.expected_tags.filter(t => typeof t === 'string');\n        if (typeof parsed.ai_inference_url === 'string' && parsed.ai_inference_url.trim().length > 0) cfg.ai_inference_url = parsed.ai_inference_url.trim();\n        if (typeof parsed.inference_emit_interval_ms === 'number' && parsed.inference_emit_interval_ms > 0) cfg.inference_emit_interval_ms = parsed.inference_emit_interval_ms;\n        flow.set('runtimeConfigCache', { raw: raw, config: cfg });\n        // Mirror the lastSeen reset from fn_main for config changes\n        const prevTags = (flow.get('prevExpectedTags') || []).slice().sort().join(',');\n        const newTags  = (cfg.expected_tags || []).slice().sort().join(',');\n        if (prevTags !== newTags) {\n            flow.set('lastSeen', {});\n            flow.set('prevExpectedTags', cfg.expected_tags || []);\n        }\n        return cfg;\n    } catch (_err) {\n        if (cached.raw !== null) {\n            flow.set('runtimeConfigCache', { raw: null, config: {} });\n        }\n        return {};\n    }\n}\n\nconst cfg = loadRuntimeConfig();\nconst EMIT_INTERVAL = cfg.inference_emit_interval_ms || 40000;\nconst expectedTags = cfg.expected_tags;\nconst aiUrl = cfg.ai_inference_url;\n\n// Rate-limit gate: emit at most once per EMIT_INTERVAL ms. Inject is a 1s\n// heartbeat; this makes the effective cadence configurable via runtime_config.\nconst now = Date.now();\nconst lastEmitAttempt = flow.get('lastEmitAttemptTs') || 0;\nif (now - lastEmitAttempt < EMIT_INTERVAL) return null;\nflow.set('lastEmitAttemptTs', now);\n\n// Fail-closed: no expected_tags \u2192 no emit\nif (!Array.isArray(expectedTags) || expectedTags.length === 0) return null;\n\nconst lastSeen = flow.get('lastSeen') || {};\nconst missing = expectedTags.filter(t => !(t in lastSeen));\nif (missing.length > 0) {\n    node.log('emit skipped: warmup, ' + missing.length + '/' + expectedTags.length + ' tags not yet seen');\n    return null;\n}\n\n// Build snapshot with LOCF values. ts = wall-clock per spec.\nconst snapshot = {};\nfor (const t of expectedTags) snapshot[t] = lastSeen[t].value;\n\nif (!aiUrl) return null;\n\nreturn {\n    payload: { ts: now, sensors: snapshot },\n    url: aiUrl,\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    requestTimeout: 5000\n};\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 260,
        "wires": [
            [
                "http_req_ml"
            ]
        ]
    },
    {
        "id": "http_req_ml",
        "type": "http request",
        "z": "tab_opc_v2",
        "name": "ML Inference",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 700,
        "y": 260,
        "wires": [
            []
        ]
    }
]
