deploy/Plantillas/ETLNodeRed/flows Critical Levels2.json
[
    {
        "id": "6df0dbe345d0e62f",
        "type": "http in",
        "z": "73f10ad0ba7a340b",
        "name": "Endpoint",
        "url": "endpoint/NivelesCriticidadMCT",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 640,
        "wires": [
            [
                "ced7d353380b8e9f",
                "cb8b3892136a13de",
                "08bd4f14b2f491fc"
            ]
        ]
    },
    {
        "id": "ced7d353380b8e9f",
        "type": "http response",
        "z": "73f10ad0ba7a340b",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 440,
        "y": 540,
        "wires": []
    },
    {
        "id": "105740d98510287a",
        "type": "http request",
        "z": "73f10ad0ba7a340b",
        "name": "HTTP Load",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "{{{URL}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Content-Type",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 1310,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "a7e046546cf3c287",
        "type": "http request",
        "z": "73f10ad0ba7a340b",
        "name": "NIVELES CRITICIDAD",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "ROOT_ThingsBoard/api/plugins/telemetry/DEVICE/deviceIdClientesNiveles/values/timeseries?startTs=1000000000000&endTs=9999999999999&limit=1000&keys=Cliente,Modelo,NumNivel,Cota,FechaInicio,FechaFin,Activo",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Authorization",
                "valueType": "msg",
                "valueValue": "TOKEN"
            }
        ],
        "x": 680,
        "y": 320,
        "wires": [
            [
                "f998248027036c77",
                "2f570c1ca5d6610d"
            ]
        ]
    },
    {
        "id": "6103d0789932c8ac",
        "type": "inject",
        "z": "73f10ad0ba7a340b",
        "name": "Recurrencia Consulta Niveles Criticidad",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 320,
        "wires": [
            [
                "0159061b3df445fd"
            ]
        ]
    },
    {
        "id": "f998248027036c77",
        "type": "debug",
        "z": "73f10ad0ba7a340b",
        "name": "debug 12",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 380,
        "wires": []
    },
    {
        "id": "cb8b3892136a13de",
        "type": "debug",
        "z": "73f10ad0ba7a340b",
        "name": "debug 13",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 480,
        "wires": []
    },
    {
        "id": "2f570c1ca5d6610d",
        "type": "function",
        "z": "73f10ad0ba7a340b",
        "name": "Carga de Niveles en GLOBAL",
        "func": "// Función para transformar el payload en la estructura deseada\nfunction transformarPayload(payload) {\n    let niveles = [];\n\n    // Mapeamos cada lista de datos por timestamp (ts)\n    let map = {};\n\n    // Función auxiliar para agrupar los datos\n    function agregarDato(campo, key) {\n        for (let i = 0; i < campo.length; i++) {\n            let ts = campo[i].ts;\n            if (!map[ts]) {\n                map[ts] = { ts: ts };  // Crear un nuevo objeto si no existe\n            }\n            map[ts][key] = campo[i].value;  // Añadir valor al campo correspondiente\n        }\n    }\n\n    // Llenamos el mapa con los datos del payload\n    agregarDato(payload.Cliente, 'Cliente');\n    agregarDato(payload.Modelo, 'Modelo');\n    agregarDato(payload.NumNivel, 'NumNivel');\n    agregarDato(payload.Cota, 'CotaInferior');\n    agregarDato(payload.FechaInicio, 'FechaInicio');\n    agregarDato(payload.FechaFin, 'FechaFin');\n    agregarDato(payload.Activo, 'Activo');\n\n    // Creamos la lista de niveles a partir del mapa\n    for (let ts in map) {\n        let nivel = {\n            Cliente: map[ts].Cliente,\n            Modelo: map[ts].Modelo,\n            NumNivel: parseInt(map[ts].NumNivel),\n            CotaInferior: parseFloat(map[ts].CotaInferior),\n            FechaInicio: map[ts].FechaInicio,\n            FechFin: map[ts].FechaFin || \"\",  // Dejar vacío si no hay FechaFin\n            Activo: parseInt(map[ts].Activo)\n        };\n        niveles.push(nivel);\n    }\n\n    return niveles;\n}\n\n// Ejecutamos la función para transformar el payload\nlet niveles = transformarPayload(msg.payload);\n\n// Cargamos en Memoria global\nflow.set('niveles', niveles);\n\nmsg.payload['Niveles'] = niveles;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 320,
        "wires": [
            [
                "418bf1c53b601019"
            ]
        ]
    },
    {
        "id": "418bf1c53b601019",
        "type": "debug",
        "z": "73f10ad0ba7a340b",
        "name": "debug 14",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 320,
        "wires": []
    },
    {
        "id": "7095d4ee0c1299f5",
        "type": "function",
        "z": "73f10ad0ba7a340b",
        "name": "Asignar Nivel",
        "func": "// Obtener los datos de la entrada\nlet resultadoModelo = msg.payload;\nlet valorRiesgo = resultadoModelo.valorRiesgo;  // Este es el valor a comparar\nlet niveles = flow.get('niveles');  // Obtener los niveles almacenados\nlet nombre = resultadoModelo.Nombre;\n\n// Variable para almacenar el nivel de criticidad encontrado\nlet nivelCriticidad = 0; \n\n// Identifiamos Cliente y Modelo\nlet partes = nombre.split(' ');\nlet Cliente = partes[0]; \nlet Modelo = partes[2]; \n\n//Filtramos por cliente y modelo\nlet nivelesCliMod = niveles.filter(nivel => nivel.Cliente === \"MCT\" && nivel.Modelo === \"M2\");\n\n// Filtrar niveles activos\nlet nivelesActivos = nivelesCliMod.filter(nivel => nivel.Activo === 1);\n\n// Ordenar los niveles por CotaInferior de mayor a menor\nnivelesActivos.sort((a, b) => b.CotaInferior - a.CotaInferior);\n\n// Comparar el threshold con las cotas inferiores\nfor (let i = 0; i < nivelesActivos.length; i++) {\n    if (valorRiesgo >= nivelesActivos[i].CotaInferior) {\n        nivelCriticidad = nivelesActivos[i].NumNivel;\n        break;\n    }\n}\n\n// Agregar el nivel de criticidad al resultado\nmsg.payload = {\n    cliente: Cliente, \n    modelo: Modelo,\n    nombre: resultadoModelo.Nombre,\n    timestamp: resultadoModelo.timestamp,\n    attack: resultadoModelo.attack,\n    valorRiesgo: valorRiesgo,\n    nivelCriticidad: nivelCriticidad,\n    devices: resultadoModelo.devices,\n    nombreNiv: Cliente + \" Niveles Model \" + Modelo,\n    \n};\n\n// Retornar el mensaje actualizado\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 640,
        "wires": [
            [
                "196fa2478a9f3237",
                "95a119ed131b6f43",
                "e9567d868d4b8206",
                "edfc168b5d491296"
            ]
        ]
    },
    {
        "id": "2f2c9b3e527c02f3",
        "type": "debug",
        "z": "73f10ad0ba7a340b",
        "name": "debug 15",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1160,
        "y": 540,
        "wires": []
    },
    {
        "id": "08bd4f14b2f491fc",
        "type": "function",
        "z": "73f10ad0ba7a340b",
        "name": "Auxiliar",
        "func": "//let numeroAleatorio = Math.random();\n//if (msg.payload[\"Nombre\"] == \"MCT Model M2\") {\n//    msg.payload['valorRiesgo'] = numeroAleatorio*12000;\n//}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 640,
        "wires": [
            [
                "7095d4ee0c1299f5"
            ]
        ]
    },
    {
        "id": "edfc168b5d491296",
        "type": "debug",
        "z": "73f10ad0ba7a340b",
        "name": "debug 16",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 540,
        "wires": []
    },
    {
        "id": "196fa2478a9f3237",
        "type": "function",
        "z": "73f10ad0ba7a340b",
        "name": "Definir Manual URL",
        "func": "//HAY QUE DEFINIR LA LOGICA PARA EXTRAER LA URL EN FUNCION DEL CLIENTE Y MODELO\n//POR AHORA SOLO SE HA INCLUIDO PARA MCT y MODELO M2\n//msg.payload['URL']=\"ROOT_ThingsBoard/api/v1/accessTokenMCTM2/telemetry\";\n\nif (msg.payload[\"cliente\"] == \"MCT\" && msg.payload[\"modelo\"] == \"M2\") {\n    msg.URL =\"ROOT_ThingsBoard/api/v1/accessTokenMCTM2/telemetry\";\n} else if (msg.payload[\"cliente\"] == \"MCT\" && msg.payload[\"modelo\"] == \"M3\") {\n    msg.URL =\"ROOT_ThingsBoard/api/v1/accessTokenMCTM3/telemetry\";\n} else {\n    msg.URL =\"ROOT_ThingsBoard/api/v1/accessTokenClientesNiveles/telemetry\";\n}\n\n//const rendered = mustache.render(m,data)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "mustache",
                "module": "mustache"
            }
        ],
        "x": 950,
        "y": 540,
        "wires": [
            [
                "2f2c9b3e527c02f3"
            ]
        ]
    },
    {
        "id": "654c2335ae55919d",
        "type": "inject",
        "z": "73f10ad0ba7a340b",
        "name": "EXTRAER TOKEN",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"username\":\"UsernameThingsBoard\",\"password\":\"PasswordThingsBoard\"}",
        "payloadType": "json",
        "x": 140,
        "y": 180,
        "wires": [
            [
                "4f1889f180646813"
            ]
        ]
    },
    {
        "id": "4f1889f180646813",
        "type": "http request",
        "z": "73f10ad0ba7a340b",
        "name": "TOKEN",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "ROOT_ThingsBoard/api/auth/login",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 360,
        "y": 180,
        "wires": [
            [
                "65c7adc325e6890d"
            ]
        ]
    },
    {
        "id": "65c7adc325e6890d",
        "type": "function",
        "z": "73f10ad0ba7a340b",
        "name": "TOKEN A VARIABLE GLOBAL",
        "func": "let TOKEN = \"Bearer \" + msg.payload[\"token\"];\nflow.set('TOKEN', TOKEN);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "mustache",
                "module": "mustache"
            }
        ],
        "x": 610,
        "y": 180,
        "wires": [
            [
                "ee236706b1fb0ab8"
            ]
        ]
    },
    {
        "id": "ee236706b1fb0ab8",
        "type": "debug",
        "z": "73f10ad0ba7a340b",
        "name": "debug 17",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 180,
        "wires": []
    },
    {
        "id": "0159061b3df445fd",
        "type": "function",
        "z": "73f10ad0ba7a340b",
        "name": "GET TOKEN",
        "func": "msg.TOKEN = flow.get('TOKEN');  // Obtener el TOKEN\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 320,
        "wires": [
            [
                "a7e046546cf3c287",
                "19ee90c8b4170185"
            ]
        ]
    },
    {
        "id": "19ee90c8b4170185",
        "type": "debug",
        "z": "73f10ad0ba7a340b",
        "name": "debug 18",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 260,
        "wires": []
    },
    {
        "id": "95a119ed131b6f43",
        "type": "function",
        "z": "73f10ad0ba7a340b",
        "name": "Incluir Nombre Repositorio",
        "func": "msg.TOKEN = flow.get('TOKEN');  // Obtener el TOKEN\nmsg.nombreNiv = msg.payload[\"cliente\"]+\" Niveles Model \"+ msg.payload[\"modelo\"];\n//msg.URL2 = \"ROOT_ThingsBoard/api/tenant/devices?deviceName=\"+msg.payload[\"nombre\"];\nmsg.payload = {\n    nombreNiv: msg.nombreNiv,\n};\n\n\n// Cargamos el diccionario\nlet diccionarioAccess = global.get(\"diccionarioAccess\") || {};\n\nmsg.continuar =\"SI\"\n\n// Verificar si el nombre ya está en el diccionario\nif (diccionarioAccess.hasOwnProperty(msg.nombreNiv)) {\n    if (diccionarioAccess[msg.nombreNiv].hasOwnProperty(\"deviceId\")) {\n        if (diccionarioAccess[msg.nombreNiv].hasOwnProperty(\"token\")) {\n            return null;\n        }\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "mustache",
                "module": "mustache"
            }
        ],
        "x": 180,
        "y": 800,
        "wires": [
            [
                "2b3308ede6a4a733",
                "5942a2768fb1b771"
            ]
        ]
    },
    {
        "id": "5942a2768fb1b771",
        "type": "http request",
        "z": "73f10ad0ba7a340b",
        "name": "GET DEVICEID",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "ROOT_ThingsBoard/api/tenant/devices?deviceName={{{nombreNiv}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Authorization",
                "valueType": "msg",
                "valueValue": "TOKEN"
            }
        ],
        "x": 500,
        "y": 800,
        "wires": [
            [
                "1d48976f53bcc6a9",
                "c9b19906043b7cc5"
            ]
        ]
    },
    {
        "id": "1d48976f53bcc6a9",
        "type": "function",
        "z": "73f10ad0ba7a340b",
        "name": "DEVICEID y NOMBRE AL DICT",
        "func": "// Convertir el payload de texto a JSON\nlet payload = JSON.parse(msg.payload);\n\n// Extraer el valor del campo 'id' y \"name\"\nlet deviceId = payload.id.id;\nlet nombre = payload.name;\n\nmsg.payload = {\n    deviceId: deviceId,\n    nombre : nombre,\n};\n//msg.nombreNiv = nombre;\n//msg.TOKEN = flow.get('TOKEN');  // Obtener el TOKEN\n//msg.deviceId = deviceId; \n//msg.payload[\"URL3\"] = \"ROOT_ThingsBoard/api/device/\" + deviceId + \"/credentials\";\nmsg.URL3 = \"ROOT_ThingsBoard/api/device/\"+ deviceId +\"/credentials\";\n\n// Cargamos el diccionario\nlet diccionarioAccess = global.get(\"diccionarioAccess\") || {};\n\n// Verificar si el nombre ya está en el diccionario\nif (!diccionarioAccess.hasOwnProperty(nombre)) {\n    // Si no está, lo añadimos con el id\n    diccionarioAccess[nombre] = { \"deviceId\": deviceId };\n\n    // Guardar la actualización en la memoria global\n    global.set(\"diccionarioAccess\", diccionarioAccess);\n\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 800,
        "wires": [
            [
                "1f1e246c618e99b5",
                "08b53a6128922dcb"
            ]
        ]
    },
    {
        "id": "1f1e246c618e99b5",
        "type": "http request",
        "z": "73f10ad0ba7a340b",
        "name": "GET ACCESS TOKEN",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "query",
        "url": "{{{URL3}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Authorization",
                "valueType": "msg",
                "valueValue": "TOKEN"
            }
        ],
        "x": 1120,
        "y": 800,
        "wires": [
            [
                "71c72808e57a15b8",
                "405d9450086f984d"
            ]
        ]
    },
    {
        "id": "71c72808e57a15b8",
        "type": "function",
        "z": "73f10ad0ba7a340b",
        "name": "Actualizar DICT TOKENS",
        "func": "// Convertir el payload de texto a JSON\nlet payload = JSON.parse(msg.payload);\n\nlet URL = \"ROOT_ThingsBoard/api/v1/\" + payload.credentialsId + \"/telemetry\";\n\nlet deviceId = payload.deviceId.id;\nlet accessToken = payload.credentialsId;\n\nmsg.payload = {\n    deviceId: deviceId,\n    url: URL,\n};\nmsg.deviceId = deviceId;\nmsg.ceredentiaslId = accessToken;\nmsg.URL = URL;\n\n// Cargamos el diccionario\nlet diccionarioAccess = global.get(\"diccionarioAccess\") || {};\nmsg.payload[\"encontrado\"] = \"NO\"\n\nfor (let nombre in diccionarioAccess) {\n    if (diccionarioAccess[nombre].deviceId === deviceId) {\n        msg.payload[\"encontrado\"] =\"SI\"\n        diccionarioAccess[nombre].token = accessToken;\n        break;  // Salir del bucle una vez que encontramos el token\n    }\n\n}\n\n// Guardar el diccionario en la memoria global\nglobal.set(\"diccionarioAccess\", diccionarioAccess);\n\nmsg.payload[\"diccionario]\"] = diccionarioAccess;\n\n// Retornar el mensaje\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1390,
        "y": 800,
        "wires": [
            [
                "fc96550b3dd85a54"
            ]
        ]
    },
    {
        "id": "fc96550b3dd85a54",
        "type": "debug",
        "z": "73f10ad0ba7a340b",
        "name": "DICCIONARIO",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1620,
        "y": 800,
        "wires": []
    },
    {
        "id": "e9567d868d4b8206",
        "type": "function",
        "z": "73f10ad0ba7a340b",
        "name": "Asignar URL Destino Niveles Criticidad",
        "func": "// Obtener el diccionario global\nlet diccionarioAccess = global.get(\"diccionarioAccess\") || {};;\n\n// Definir la clave que quieres buscar\nlet claveBuscada = msg.payload[\"nombreNiv\"];\n\n// Extraer el valor si la clave existe\nif (diccionarioAccess.hasOwnProperty(claveBuscada)) {\n    let token = diccionarioAccess[claveBuscada].token;\n    let url = \"ROOT_ThingsBoard/api/v1/\" + token + \"/telemetry\" ; \n    //msg.payload[\"accessToken\"] = token;\n    msg.URL = url;\n    //msg.payload[\"URL\"] = url;\n} else {\n    //msg.payload[\"accessToken\"] = `La clave '${claveBuscada}' NO existe en el diccionario.`;\n    msg.URL = \"ROOT_ThingsBoard/api/v1/accessTokenClientesNiveles/telemetry\";\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 640,
        "wires": [
            [
                "6b7ebf2090a3a5c8",
                "105740d98510287a"
            ]
        ]
    },
    {
        "id": "6b7ebf2090a3a5c8",
        "type": "debug",
        "z": "73f10ad0ba7a340b",
        "name": "debug 33",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1300,
        "y": 580,
        "wires": []
    },
    {
        "id": "405d9450086f984d",
        "type": "debug",
        "z": "73f10ad0ba7a340b",
        "name": "debug 34",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1380,
        "y": 900,
        "wires": []
    },
    {
        "id": "08b53a6128922dcb",
        "type": "debug",
        "z": "73f10ad0ba7a340b",
        "name": "debug 35",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1140,
        "y": 900,
        "wires": []
    },
    {
        "id": "c9b19906043b7cc5",
        "type": "debug",
        "z": "73f10ad0ba7a340b",
        "name": "debug 36",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 900,
        "wires": []
    },
    {
        "id": "2b3308ede6a4a733",
        "type": "debug",
        "z": "73f10ad0ba7a340b",
        "name": "debug 37",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 880,
        "wires": []
    },
    {
        "id": "6ccefea4c5a9faf6",
        "type": "inject",
        "z": "73f10ad0ba7a340b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 1040,
        "wires": [
            [
                "797d64c8b20694d4"
            ]
        ]
    },
    {
        "id": "797d64c8b20694d4",
        "type": "function",
        "z": "73f10ad0ba7a340b",
        "name": "VER DICCIONARIO",
        "func": "// Cargamos el diccionario\nlet diccionarioAccess = global.get(\"diccionarioAccess\") || {};\n\n// Guardar el diccionario en el mensaje\nmsg.payload = diccionarioAccess;\n\n// Retornar el mensaje\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 1040,
        "wires": [
            [
                "1424c54c7187bf10"
            ]
        ]
    },
    {
        "id": "1424c54c7187bf10",
        "type": "debug",
        "z": "73f10ad0ba7a340b",
        "name": "DICCIONARIO COMPLETO",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 1040,
        "wires": []
    },
    {
        "id": "b71fce02a6f0bcc3",
        "type": "function",
        "z": "73f10ad0ba7a340b",
        "name": "GET TOKEN",
        "func": "msg.TOKEN = flow.get('TOKEN');  // Obtener el TOKEN\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 1120,
        "wires": [
            [
                "b3594350d6d115c8"
            ]
        ]
    },
    {
        "id": "b3594350d6d115c8",
        "type": "http request",
        "z": "73f10ad0ba7a340b",
        "name": "MENSAJES DESCARTADOS",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "ROOT_ThingsBoard/api/plugins/telemetry/DEVICE/deviceIdNivelesDescartes/values/timeseries?startTs=1000000000000&endTs=9999999999999&limit=1000&keys=attack,cliente,devices,modelo,nivelCriticidad,nombre,nombreNiv,timestamp,valorRiesgo",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Authorization",
                "valueType": "msg",
                "valueValue": "TOKEN"
            }
        ],
        "x": 790,
        "y": 1120,
        "wires": [
            [
                "9f727099f3d37e7b",
                "ead8d239ad2c3971"
            ]
        ]
    },
    {
        "id": "5aab7c433453a20d",
        "type": "inject",
        "z": "73f10ad0ba7a340b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 1120,
        "wires": [
            [
                "b71fce02a6f0bcc3"
            ]
        ]
    },
    {
        "id": "8bc2fa4f2ae1d6c1",
        "type": "debug",
        "z": "73f10ad0ba7a340b",
        "name": "REGISTROS DESCARTADOS",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1490,
        "y": 1120,
        "wires": []
    },
    {
        "id": "9f727099f3d37e7b",
        "type": "function",
        "z": "73f10ad0ba7a340b",
        "name": "Formate de Resultados",
        "func": "// Función para transformar el payload en la estructura deseada\nfunction transformarPayload(payload) {\n    let descartes = [];\n\n    // Mapeamos cada lista de datos por timestamp (ts)\n    let map = {};\n\n    // Función auxiliar para agrupar los datos\n    function agregarDato(campo, key) {\n        for (let i = 0; i < campo.length; i++) {\n            let ts = campo[i].ts;\n            if (!map[ts]) {\n                map[ts] = { ts: ts };  // Crear un nuevo objeto si no existe\n            }\n            map[ts][key] = campo[i].value;  // Añadir valor al campo correspondiente\n        }\n    }\n\n    // Llenamos el mapa con los datos del payload\n    agregarDato(payload.attack, 'attack');\n    agregarDato(payload.cliente, 'cliente');\n    agregarDato(payload.devices, 'devices');\n    agregarDato(payload.modelo, 'modelo');\n    agregarDato(payload.nombre, 'nombre');\n    agregarDato(payload.nombreNiv, 'nombreNiv');\n    agregarDato(payload.timestamp, 'timestamp');\n    agregarDato(payload.valorRiesgo, 'valorRiesgo');\n\n    // Creamos la lista de descartes a partir del mapa\n    for (let ts in map) {\n        let descarte = {\n            attack: parseInt(map[ts].attack),\n            cliente: map[ts].cliente,\n            devices: map[ts].devices,\n            modelo: map[ts].modelo,\n            nombre: map[ts].nombre,\n            nombreNiv: map[ts].nombreNiv,\n            timestamp: parseInt(map[ts].timestamp),  \n            valorRiesgo: parseFloat(map[ts].valorRiesgo)\n        };\n        descartes.push(descarte);\n    }\n\n    return descartes;\n}\n\n// Ejecutamos la función para transformar el payload\nlet descartes = transformarPayload(msg.payload);\n\n// Cargamos en Memoria global\nflow.set('descartes', descartes);\n\n// Incluimos los descartes\nmsg.payload['descartes'] = descartes;\n\n\n//Devolemos solo los descartes\nmsg.payload = descartes;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1130,
        "y": 1120,
        "wires": [
            [
                "8bc2fa4f2ae1d6c1",
                "d236926188e34f8e"
            ]
        ]
    },
    {
        "id": "ead8d239ad2c3971",
        "type": "debug",
        "z": "73f10ad0ba7a340b",
        "name": "debug 38",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 1180,
        "wires": []
    },
    {
        "id": "d236926188e34f8e",
        "type": "debug",
        "z": "73f10ad0ba7a340b",
        "name": "debug 39",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1380,
        "y": 1180,
        "wires": []
    }
]