deploy/Plantillas/ETLNodeRed/PrevioRawFlow.json
[
  {
    "id": "httpInPrevioXXXXXXXXXX",
    "type": "http in",
    "name": "Endpoint",
    "url": "/endpoint/previoXXXXXXXXXX",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 180,
    "y": 300,
    "wires": [["http200PrevioXXXXXXXXXX","dbg49PrevioXXXXXXXXXX","splitPrevioXXXXXXXXXX"]]
  },
  {
    "id": "http200PrevioXXXXXXXXXX",
    "type": "http response",
    "name": "",
    "statusCode": "200",
    "headers": {},
    "x": 460,
    "y": 180,
    "wires": []
  },
  {
    "id": "httpLoadPrevioXXXXXXXXXX",
    "type": "http request",
    "name": "HTTP Load",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "{{{URL}}}",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [
      { "keyType": "other", "keyValue": "Content-Type", "valueType": "other", "valueValue": "application/json" }
    ],
    "x": 1450,
    "y": 620,
    "wires": [[]]
  },
  {
    "id": "procPrepPrevioXXXXXXXXXX",
    "type": "function",
    "name": "Procesado y Preparación",
    "func": "// Obtenemos el string con la lista de tuplas\nlet str = msg.payload;\n// Reemplazar paréntesis por corchetes para simular JSON válido\nstr = str.replace(/\\(/g, '[').replace(/\\)/g, ']');\n// Reemplazar comillas simples por comillas dobles\nstr = str.replace(/'/g, '\"');\n// Reemplazar valores tipo Python por los válidos en JSON/JS\nstr = str.replace(/\\bNone\\b/g, 'null');\nstr = str.replace(/\\bTrue\\b/g, 'true');\nstr = str.replace(/\\bFalse\\b/g, 'false');\nlet data;\ntry { data = JSON.parse(str); } catch (err) {\n  node.error(\"Error al convertir a JSON\", err);\n  return null;\n}\nmsg.payload = data;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 670,
    "y": 380,
    "wires": [["dbg42PrevioXXXXXXXXXX","splitPrevioXXXXXXXXXX"]]
  },
  {
    "id": "getTokenPrevioXXXXXXXXXX",
    "type": "function",
    "name": "GET TOKEN",
    "func": "msg.TOKEN = flow.get('TOKEN');\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1270,
    "y": 300,
    "wires": [["dbg43PrevioXXXXXXXXXX","inclNombreRepoPrevioXXXXXXXXXX","asignarURLPrevioXXXXXXXXXX"]]
  },
  {
    "id": "injectTokenPrevioXXXXXXXXXX",
    "type": "inject",
    "name": "EXTRAER TOKEN",
    "props": [{ "p": "payload" }],
    "repeat": "300",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"username\":\"UsernameThingsBoard\",\"password\":\"PasswordThingsBoard\"}",
    "payloadType": "json",
    "x": 240,
    "y": 80,
    "wires": [["reqTokenPrevioXXXXXXXXXX"]]
  },
  {
    "id": "reqTokenPrevioXXXXXXXXXX",
    "type": "http request",
    "name": "TOKEN",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "ROOT_ThingsBoard/api/auth/login",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 460,
    "y": 80,
    "wires": [["setTokenPrevioXXXXXXXXXX"]]
  },
  {
    "id": "setTokenPrevioXXXXXXXXXX",
    "type": "function",
    "name": "TOKEN A VARIABLE GLOBAL",
    "func": "let TOKEN = 'Bearer ' + msg.payload['token'];\nflow.set('TOKEN', TOKEN);\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 710,
    "y": 80,
    "wires": [["dbg40PrevioXXXXXXXXXX"]]
  },
  {
    "id": "dbg40PrevioXXXXXXXXXX",
    "type": "debug",
    "name": "debug 40",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 960,
    "y": 80,
    "wires": []
  },
  {
  "id": "asignarURLPrevioXXXXXXXXXX",
  "type": "function",
  "name": "Asignar URL Destino Niveles Criticidad",
  "func": "// Obtener el diccionario global\nlet diccionarioAccess = global.get(\"diccionarioAccess\") || {};\nlet claveBuscada = msg.payload[\"DeviceName\"];\n\nif (diccionarioAccess.hasOwnProperty(claveBuscada)) {\n    let token = diccionarioAccess[claveBuscada].token;\n    msg.URL = \"ROOT_ThingsBoard/api/v1/\" + token + \"/telemetry\";\n} else {\n    // Fallback al token de XXXXXXXXXX Control (inyectado por el script previamente)\n    msg.URL = \"ROOT_ThingsBoard/api/v1/TOKEN_CONTROL/telemetry\";\n}\nreturn msg;",
  "outputs": 1,
  "timeout": 0,
  "noerr": 0,
  "initialize": "",
  "finalize": "",
  "libs": [],
  "x": 930,
  "y": 620,
  "wires": [["verURLPrevioXXXXXXXXXX"]]
},
  {
    "id": "injectFunc1PrevioXXXXXXXXXX",
    "type": "inject",
    "name": "",
    "props": [{"p":"payload"},{"p":"topic","vt":"str"}],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 170,
    "y": 540,
    "wires": [["func1PrevioXXXXXXXXXX","ejemploPrevioXXXXXXXXXX"]]
  },
  {
    "id": "func1PrevioXXXXXXXXXX",
    "type": "function",
    "name": "function 1",
    "func": "msg.payload = \"[...]\"; // idéntico a tu ejemplo largo\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 380,
    "y": 480,
    "wires": [[]]
  },
  {
    "id": "dbg41PrevioXXXXXXXXXX",
    "type": "debug",
    "name": "debug 41",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 620,
    "y": 480,
    "wires": []
  },
  {
    "id": "dbg42PrevioXXXXXXXXXX",
    "type": "debug",
    "name": "debug 42",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 900,
    "y": 400,
    "wires": []
  },
  {
    "id": "splitPrevioXXXXXXXXXX",
    "type": "split",
    "name": "dividir",
    "splt": "\\n",
    "spltType": "str",
    "arraySplt": 1,
    "arraySpltType": "len",
    "stream": false,
    "addname": "",
    "property": "payload",
    "x": 830,
    "y": 300,
    "wires": [["prepMsgsPrevioXXXXXXXXXX","dbg50PrevioXXXXXXXXXX"]]
  },
  {
    "id": "prepMsgsPrevioXXXXXXXXXX",
    "type": "function",
    "name": "Preparacion de Mensajes",
    "func": "let item = msg.payload;\nlet timestamp = item[3] || '';\nlet partes = timestamp.split(' ');\nlet fecha = partes[0] || '';\nlet hora = partes[1] || '';\nmsg.payload = {\n  DeviceName: item[0],\n  Value: item[1],\n  Good: item[2],\n  FechaOriginal: fecha,\n  HoraOriginal: hora\n};\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1050,
    "y": 300,
    "wires": [["getTokenPrevioXXXXXXXXXX"]]
  },
  {
    "id": "dbg43PrevioXXXXXXXXXX",
    "type": "debug",
    "name": "debug 43",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 1440,
    "y": 220,
    "wires": []
  },
  {
    "id": "inclNombreRepoPrevioXXXXXXXXXX",
    "type": "function",
    "name": "Incluir Nombre Repositorio",
    "func": "msg.TOKEN = flow.get('TOKEN');\nmsg.nombre = msg.payload['DeviceName'];\nmsg.payload = { nombreNiv: msg.nombre };\nlet diccionarioAccess = global.get('diccionarioAccess') || {};\nmsg.continuar = 'SI';\nif (diccionarioAccess.hasOwnProperty(msg.nombreNiv)) {\n  if (diccionarioAccess[msg.nombreNiv].hasOwnProperty('deviceId')) {\n    if (diccionarioAccess[msg.nombreNiv].hasOwnProperty('token')) {\n      return null;\n    }\n  }\n}\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 240,
    "y": 760,
    "wires": [["getDevIdPrevioXXXXXXXXXX","dbg47PrevioXXXXXXXXXX"]]
  },
  {
    "id": "getDevIdPrevioXXXXXXXXXX",
    "type": "http request",
    "name": "GET DEVICEID",
    "method": "GET",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "ROOT_ThingsBoard/api/tenant/devices?deviceName={{{nombre}}}",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [
      { "keyType": "other", "keyValue": "Authorization", "valueType": "msg", "valueValue": "TOKEN" }
    ],
    "x": 560,
    "y": 760,
    "wires": [["devIdDictPrevioXXXXXXXXXX","dbg46PrevioXXXXXXXXXX"]]
  },
  {
    "id": "devIdDictPrevioXXXXXXXXXX",
    "type": "function",
    "name": "DEVICEID y NOMBRE AL DICT",
    "func": "let payload={}; try{payload=JSON.parse(msg.payload)}catch(e){}\nlet deviceId = payload?.id?.id;\nlet nombre = payload?.name;\nmsg.URL3 = 'ROOT_ThingsBoard/api/device/' + deviceId + '/credentials';\nlet dic = global.get('diccionarioAccess') || {};\nif (nombre && deviceId && !dic[nombre]) { dic[nombre] = { deviceId: deviceId }; global.set('diccionarioAccess', dic); }\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 890,
    "y": 760,
    "wires": [["getAccTokenPrevioXXXXXXXXXX","dbg46bPrevioXXXXXXXXXX"]]
  },
  {
    "id": "getAccTokenPrevioXXXXXXXXXX",
    "type": "http request",
    "name": "GET ACCESS TOKEN",
    "method": "GET",
    "ret": "txt",
    "paytoqs": "query",
    "url": "{{{URL3}}}",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [
      { "keyType": "other", "keyValue": "Authorization", "valueType": "msg", "valueValue": "TOKEN" }
    ],
    "x": 1180,
    "y": 760,
    "wires": [["updDictPrevioXXXXXXXXXX","dbg44PrevioXXXXXXXXXX"]]
  },
  {
    "id": "updDictPrevioXXXXXXXXXX",
    "type": "function",
    "name": "Actualizar DICT TOKENS",
    "func": "let p={}; try{p=JSON.parse(msg.payload)}catch(e){}\nlet URL = 'ROOT_ThingsBoard/api/v1/' + p.credentialsId + '/telemetry';\nlet deviceId = p?.deviceId?.id;\nlet accessToken = p?.credentialsId;\nmsg.payload = { deviceId: deviceId, url: URL };\nmsg.deviceId = deviceId; msg.ceredentiaslId = accessToken; msg.URL = URL;\nlet dic = global.get('diccionarioAccess') || {};\nfor (let nombre in dic){ if(dic[nombre].deviceId===deviceId){ dic[nombre].token=accessToken; break; }}\nglobal.set('diccionarioAccess', dic);\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1450,
    "y": 760,
    "wires": [[]]
  },
  {
    "id": "dbg44PrevioXXXXXXXXXX",
    "type": "debug",
    "name": "debug 44",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 1440,
    "y": 860,
    "wires": []
  },
  {
    "id": "dbg46PrevioXXXXXXXXXX",
    "type": "debug",
    "name": "debug 46",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 960,
    "y": 860,
    "wires": []
  },
  {
    "id": "dbg46bPrevioXXXXXXXXXX",
    "type": "debug",
    "name": "debug 45",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 1200,
    "y": 860,
    "wires": []
  },
  {
    "id": "dbg47PrevioXXXXXXXXXX",
    "type": "debug",
    "name": "debug 47",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 500,
    "y": 840,
    "wires": []
  },
  {
    "id": "dbg48PrevioXXXXXXXXXX",
    "type": "debug",
    "name": "debug 48",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 1440,
    "y": 580,
    "wires": []
  },
  {
    "id": "injectVerDicPrevioXXXXXXXXXX",
    "type": "inject",
    "name": "",
    "props": [{"p":"payload"},{"p":"topic","vt":"str"}],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 310,
    "y": 1020,
    "wires": [["verDicPrevioXXXXXXXXXX"]]
  },
  {
    "id": "verDicPrevioXXXXXXXXXX",
    "type": "function",
    "name": "VER DICCIONARIO",
    "func": "let diccionarioAccess = global.get('diccionarioAccess') || {};\nmsg.payload = diccionarioAccess;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 580,
    "y": 1020,
    "wires": [["dbgDicPrevioXXXXXXXXXX"]]
  },
  {
    "id": "dbgDicPrevioXXXXXXXXXX",
    "type": "debug",
    "name": "DICCIONARIO COMPLETO",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 900,
    "y": 1020,
    "wires": []
  },
  {
    "id": "verURLPrevioXXXXXXXXXX",
    "type": "function",
    "name": "VER URL",
    "func": "msg.payload = msg.payload || {};\nmsg.payload['URL'] = msg.URL;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1220,
    "y": 580,
    "wires": [["dbg48PrevioXXXXXXXXXX","httpLoadPrevioXXXXXXXXXX"]]
  },
  {
    "id": "commentPerdidaPrevioXXXXXXXXXX",
    "type": "comment",
    "name": "EL PROCESO ACTUAL PIERDE EL PRIMER REGISTRO",
    "info": "",
    "x": 1870,
    "y": 540,
    "wires": []
  },
  {
    "id": "commentAuxPrevioXXXXXXXXXX",
    "type": "comment",
    "name": "HAY QUE BORRAR LOS NODOS AUX",
    "info": "",
    "x": 1810,
    "y": 480,
    "wires": []
  },
  {
    "id": "ejemploPrevioXXXXXXXXXX",
    "type": "function",
    "name": "Ejemplo",
    "func": "// payload de ejemplo para pruebas locales\nmsg.payload = {};\nmsg.payload['data'] = [[\"PUERTO.PLC3.PH_PLC2\", 1.25, \"Good\", \"2025-04-11 12:31:31.490000+00:00\"]];\nmsg.payload['Fecha'] = \"2025-04-11T10:52:28.553670\";\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 260,
    "y": 420,
    "wires": [["splitPrevioXXXXXXXXXX"]]
  },
  {
    "id": "dbg49PrevioXXXXXXXXXX",
    "type": "debug",
    "name": "debug 49",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 440,
    "y": 240,
    "wires": []
  },
  {
    "id": "dbg50PrevioXXXXXXXXXX",
    "type": "debug",
    "name": "debug 50",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 1020,
    "y": 220,
    "wires": []
  }
]
